.form-container {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-form, .login-container, .password-container, .login-label, .login-input, .password-label, .password-input {
    background-color: white;
}

.login-form {
    padding-top: 30px;
    text-align: center;
    width: 350px;
    height: 250px;
    border-radius: 5px;
    box-shadow: inset 0 0 1em white, 0 0 0.5em black;
}

.login-input {
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid red;
}

.password-input {
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid red;
}